@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

*{
    font-family: 'Montserrat';
}

body{
    margin:0;
    padding: 0; 
    background-color: #cdcdcd; 
    
}

/* tete de l'accueil */
header.tete{
    height: 100px;
    width: 100%;
    background-color: #696FDF;
    position: relative;
    top: 0px;
    border-radius: 0px 0px 70px 70px;
    display: flex;
    justify-content: center;
    
  

}
.title{
    color: white;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    font-weight: 450;
    margin-top: 60px;
   }

/* section.top-page{
    position: absolute;
    align-items: center;
    height: 100px;
    width: 428px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    border-radius: 0px 0px 70px 70px;
    background-color: #696FDF ;
} */
/* map */
section.map img{
    position: absolute;
    width: 100%;
    height: 540px;
    left: 0px;
    top: 105px;
    opacity: 65%;
    border-radius: 70px 70px 70px 70px;
}
/* bouttons */

.buttons{
    display: flex;
    position: relative;
    height: 100px;
    
    left: -0px;
    top: 523px;
    margin: 27px;
    
}

.button1-case{
   position: absolute;
    left: 0%;
    right: 50%;
    top: 0%;
    bottom: 50%;
    background: #FFFFFF;
    border-radius: 10px 0px 0px 0px;
    padding: 5px 20px;
}

.button2-case{
    position: absolute;
    left: 50.2%;
    right: -0.83%;
    top: 0%;
    bottom: 50%;
    background: #FFFFFF;
    border-radius: 0px 10px 0px 0px;
    padding: 5px 20px;
}

.button3-case{
    position: absolute;
    left: 0%;
    right: 50%;
    top: 52.5%;
    bottom: -2.5%;
    background: #FFFFFF;
    border-radius: 0px 0px 0px 10px;
    padding: 5px 20px;
}
.button4-case{
    position: absolute;
    left: 50.2%;
    right: -0.83%;
    top: 52.5%;
    bottom: -2.5%;
    background: #FFFFFF;
    border-radius: 0px 0px 10px 0px;
    padding: 5px 20px;
}

.name{position: absolute;
    
    top: 27%;
    bottom: 70%;

    margin-left: 50px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
   
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

/* run */

.run{
    position: absolute;
    width: 96.5%;
    height: 50px;
    left: 2%;
    top: 760px;
    background: #696FDF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-decoration: none;
}
.police1{

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: -20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-decoration: none;
    color: #FFFFFF;
    
}


/* navbar  */

.navbar {
    position: absolute;
    left: 3px;
    right: 0%;
    top: 855px;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    width: 98.8%;
    height: 70px;
    background-color: white;
    
    
    border: 2px solid #696FDF;
    border-radius: 50px 50px 0px 0px;
    
}
.navbar-item{
    width: 24.825%;
    margin-left: 0px;
    margin-top: 15px;
    text-decoration: none;
   font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    line-height: 9px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;
   
    
}

.navbar-details {
    font-weight: 600;
    
    
    margin-top: 2%;
    text-decoration: none;
    margin-left: 0%;
    display: flex;
  justify-content: center;


}
/* S.O.S */


.text-sos{
   
   
    text-decoration: none;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
      
  
   
    
    
}
.sos{
    
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none; 
    position: relative;
    height: 80px;
    width: 80px;
    left: 44.5%;
    border-radius: 80px;
    top: 561px;
   
    background-color:#FF4B56 ;
}
